body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  margin: auto;
  border: 5px solid;
  padding: 10px;
  border-spacing: 1px;
}

th {
  font-size: 24px;
  font-weight: bold;
}

td {
  padding: 10px;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

ins {
  text-decoration: underline;
}

a {
  font-weight: bold;
}
